/* .bg-dark {
  background-color: rgb(0, 0, 0) !important; */
/* pra alterar a cor do fundo da navbar tem que colocar o !important */
/* width: 600px;
  margin-left: 961px;
} */
 
:root {
  --rosa: #b45355;
  --roxo: #1a1836;
  --laranja: #e99856;
  --bege: #E4DFCD;
  --roxo-escuro: #2A173F;
  --roxo-magenta-escuro: #622347;
 
}
 
body {
  background-color: var(--roxo);
}
 
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
}
 
.header a {
  color: #fff;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
.header img {
  width: 150px;
  border-radius: 20px;
  margin-left: 91px;
}
 
.header {
  background: #1a1836;
  color: #fff;
  /* padding: 16px; */
}
 
/* .nav{
  display: flex;
  flex-direction: row;
  margin-top: 0;
} */
 
.nav a {
  margin: 0 12px;
}
 
.sec {
  background-color: #42164b;
  height: 90px;
  width: 200px;
  margin-right: 64px;
  border-radius: 5px;
  text-align: center;
  align-content: center;
}
 
.btnRedondo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--laranja);
  margin: 11px;
}
 
.main {
  justify-items: center;
}
 
.banner {
  width: 100%px;
  height: 400px;
}
 
.bannerPlaceholder {
  background-color: aqua;
  width: 100%;
  height: 400px;
}
 
.middle {
  margin-top: 22px;
  background-color: #42164b;
  height: 368px;
  width: 920px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31.3px;
}
 
.quadrado2 {
  background-color: #e99856;
  width: 250.27px;
  height: 311px;
}
 
.quadrado1 {
  background-color: #4216;
  height: 311px;
  width: 559.61px;
  justify-items: center;
}
 
.metodologia {
  background-color: var(--roxo-escuro);
  width: 1125.33px;
  height: 732px;
  margin-top: 85px;
  padding-top: 1px;
  display: flex;
 
}
 
.met {
  background-color: #A54055;
  width: 167.91px;
  height: 42px;
  margin-left: 51.94px;
  margin-top: 22px;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
  border-radius: 50px;
  color: #fff;
}
 
.coluna-esquerda {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
 
.div1 {
  background-color: var(--roxo-magenta-escuro);
  width: 450px;
  height: 250px;
  margin-left: 55px;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  margin-right: 20px;
}
 
.div2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
 
.item {
  background-color: #A54055;
  width: 559.69px;
  height: 184px;
}
 