/* .bg-dark {
  background-color: rgb(0, 0, 0) !important; */
  /* pra alterar a cor do fundo da navbar tem que colocar o !important */
  /* width: 600px;
  margin-left: 961px;
} */

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
}

.header img{
  width: 150px;
  border-radius: 20px;
  margin-left: 228px;
}

.header{
  background: #1a1836;
  color: #fff;
  /* padding: 16px; */
  position: relative;
}

/* .nav{
  display: flex;
  flex-direction: row;
  margin-top: 0;
} */

.nav a{
  color: #fff;
  text-decoration: none;
  margin: 0 12px;
}

.sec{
  background-color: #42164b;
  height: 90px;
  width: 550px;
  margin-right: 5px;
  border-radius: 5px;
  text-align: center;
  align-content: center;
}

.btnRedondo{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: black;
  margin: 0 29px;
}